.DS_Store
*.class
*.iml
*.log
*.pyc
*.swp

.atom/
.build/
.buildlog/
.dart_tool/
.history
.idea/
.pub-cache/
.pub/
.swiftpm/
.svn/
.vscode/

**/doc/api/
**/ios/Flutter/.last_build_id
migrate_working_dir/

/build/
/coverage/

.flutter-plugins
.flutter-plugins-dependencies

app.*.map.json
app.*.symbols

/android/local.properties
/ios/Pods/
/macos/Pods/
